<div class="container">
  <h1 style="text-align:center">Welcome to Quotes-App!</h1>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div *ngFor="let quote of quotes;let i=index">
        <div>
            <!-- <p appHighLight *ngIf="highestUpvote()===quote.upvote && quote.upvote>0">{{quote.quote}}</p>
            <p  *ngIf="highestUpvote()!==quote.upvote || quote.upvote===0">{{quote.quote}}</p>
            <button (click)='quoteLike(i)' class="btn btn-danger">Upvote</button>
            <button (click)='quoteUnlike(i)' class="btn btn-danger">Downvote</button>
            <button (click)='toggleDetails(i)' class="btn btn-primary">Toggle Details</button>
            <app-quote-detail *ngIf='quote.showDescription' [quote]='quote' (isDelete)='deleteQuote($event, i)'>
            </app-quote-detail> -->
          <h6 id={{i}}>{{quote.name}} due on {{quote.completeDate|date}}</h6>
          <p appHighlight *ngIf="highestUpvote()===quote.upvote && quote.upvote>0">{{quote.name}}</p>
            <!-- <p  *ngIf="highestUpvote()!==quote.upvote || quote.upvote===0">{{quote.name}}</p> -->
            <!-- <button (click)='quoteLike(i)' class="btn btn-danger">Upvote</button> -->
            <!-- <button (click)='quoteUnlike(i)' class="btn btn-danger">Downvote</button> -->
          <button (click)='toggleDetails(i)' class="btn btn-outline-primary">Toggle Details</button>
        </div>
        <div *ngIf='quote.showDescription'>
          <app-quote-detail *ngIf='quote.showDescription' [quote]='quote' (isDelete)='deleteQuote($event,i)'(quotelike)='quotelike($event)'(quoteunlike)='quoteunlike($event)' >
          </app-quote-detail>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
  </div>
  <p *ngIf="quotes.length >0">this is your beautiful quotes</p>
</div>
